name: Go package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go 1.19.1
        uses: actions/setup-go@v3
        with:
          go-version: '1.19.1'
      - name: Install dependencies
        run: |
          cd ./app
          go get .
          go get example.com/octo-examplemodule
          go get example.com/octo-examplemodule@v1.3.4

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...